@use '../../styles/variables' as v;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: v.$lynx-bg;
}

.layout__main {
  flex: 1;

  @media (min-width: v.$bp-lg) {
    padding-left: v.$sidebar-width;
  }
}
